* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box; }

header {
  position: sticky;
  top: 0;
  background-color: #f5e5b1fd;
  z-index: 1; }

.logoportada {
  margin-left: 20px auto; }

/* nav */
.botonesInicio {
  width: 100%;
  font-style: oblique;
  background-color: #b9a668fd;
  list-style-type: none;
  color: #f5e5b1fd;
  text-align: center;
  margin: 0;
  padding: 0; }

.botonesInicio li {
  position: relative;
  display: inline-block; }

.botonesInicio li a {
  text-decoration: none;
  color: #f5e5b1fd;
  display: block;
  padding: 0.5rem 10rem; }

.botonesInicio li a:hover {
  color: #ecd482fd;
  padding: 0.5rem 10rem; }

.dropdown-item {
  margin: 0; }

body {
  background-color: #f5e5b1fd;
  color: black;
  font-style: italic;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

main {
  width: 100%;
  height: 100%;
  color: black;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 2.2%; }

.index {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 25rem 1rem 1fr 1fr;
  grid-template-rows: repeat(4 1fr);
  grid-template-areas: "infoOne infoTwo infoTwo infoTwo" "infoOne infoTwo infoTwo infoTwo" "infoOne infoThree infoThree infoThree" "infoOne infoThree infoThree infoThree";
  justify-items: center;
  z-index: -1; }

.infoOne {
  grid-area: infoOne; }

.infoTwo {
  grid-area: infoTwo; }

.infoThree {
  grid-area: infoThree; }

.promo {
  color: black;
  text-align: center; }

.productos {
  margin-bottom: 9.58rem; }

.titleprodu {
  margin-top: 1rem; }

.promociones {
  width: auto;
  height: auto;
  display: flex;
  margin-left: 7.5rem;
  justify-content: center; }

.promocionesDos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem; }

.promocionesTres {
  width: 30rem;
  height: 17rem;
  padding-top: 1%;
  padding-bottom: 17rem; }

.promocionesTres:hover {
  background-color: #f1de9ffd; }

.imagenes {
  width: 25rem;
  height: 15rem; }

.p {
  color: black;
  text-align: center;
  width: 12.5rem;
  height: auto;
  overflow: auto;
  border: 3px rgba(185, 166, 104, 0.993) solid;
  border-radius: 1.2rem; }

.p2 {
  color: black;
  text-align: center;
  width: 50rem;
  height: auto;
  overflow: auto;
  margin-top: 2%; }

.contenido {
  display: flex;
  width: 620px;
  height: auto;
  margin-left: 30%;
  justify-content: space-evenly; }

.image {
  display: flex;
  justify-content: space-evenly;
  gap: 15px; }

.image a {
  text-decoration: none; }

.figurexd {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 70rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto; }

.sectionxd {
  width: 20rem;
  height: 20rem;
  margin-top: 1%;
  padding-top: 1rem; }

.sectionxd:hover {
  background-color: #f1de9ffd; }

.formulario {
  margin: 20px auto;
  width: 25rem;
  padding: 0.6rem;
  border: 3px #b9a668fd solid;
  border-radius: 1.5rem; }

.formulario label {
  font-size: 18px; }

.maps {
  margin: 20px auto;
  width: 25rem;
  height: 19rem; }

.text {
  resize: none;
  text-align: left; }

.nosotros {
  width: 95%;
  align-items: center;
  margin-left: 2.4%; }

.nosotros h1 {
  font-size: 2rem; }

.card {
  border-radius: 1.5rem;
  overflow: auto;
  background-color: #b9a668fd;
  padding-top: 0.7rem; }

.card img {
  border-radius: 1.5rem; }

.card-body {
  background-color: #b9a668fd; }

.card-text {
  color: #f5e5b1fd; }

.btind {
  width: 100%; }

footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 5rem;
  background-color: #b9a668fd;
  color: #f5e5b1fd;
  text-align: left;
  margin-top: auto; }

.imageFooter {
  position: absolute; }

.tarjeta {
  margin-left: 80%;
  position: absolute;
  width: 20rem;
  margin-top: 1.4rem; }

.sociales {
  color: rgba(245, 229, 177, 0.993);
  text-decoration: none;
  text-align: left;
  position: absolute;
  width: 100%;
  margin-top: 1.3%;
  margin-left: 2%; }

.hola {
  color: rgba(245, 229, 177, 0.993);
  text-decoration: none;
  display: inline;
  margin-left: 1%; }

@media screen and (max-width: 1025px) {
  .botonesInicio {
    width: 100%;
    font-style: oblique;
    background-color: #b9a668fd;
    list-style-type: none;
    color: #f5e5b1fd;
    text-align: center;
    border: none; }
  .botonesInicio li {
    position: relative;
    display: inline-block; }
  .botonesInicio li a {
    text-decoration: none;
    color: #f5e5b1fd;
    display: block;
    padding: 10px 50px; }
  .botonesInicio li a:hover {
    background-color: #ecd482fd;
    color: #b9a668fd; }
  .p {
    width: auto;
    height: auto;
    border: none;
    margin: auto; }
  .p2 {
    width: auto;
    height: auto;
    margin: auto; } }

@media screen and (max-width: 769px) {
  .botonesInicio {
    width: 100%;
    font-style: oblique;
    background-color: #b9a668fd;
    list-style-type: none;
    color: #f5e5b1fd;
    text-align: center;
    border: none; }
  .botonesInicio li {
    position: relative;
    display: inline-block; }
  .botonesInicio li a {
    text-decoration: none;
    color: #f5e5b1fd;
    display: block;
    padding: 10px 30px; }
  .botonesInicio li a:hover {
    background-color: #ecd482fd;
    color: #b9a668fd; }
  .p {
    width: 720px;
    height: auto;
    border: none;
    margin: auto; }
  .p2 {
    width: auto;
    height: auto;
    margin: auto; }
  footer {
    width: 100%;
    height: 4rem; }
  .imageFooter {
    margin-top: 0.9rem;
    margin-right: 1.8rem; }
  .footerLogo {
    width: 3rem; }
  .sociales {
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin-top: 0.5rem;
    margin-right: 95%; }
  .tarjeta {
    width: 15rem;
    margin-top: 0.9rem;
    margin-left: 38rem; } }

@media screen and (max-width: 426px) {
  header {
    position: sticky;
    top: 0;
    background-color: #f5e5b1fd; }
  .imglogo {
    width: 4.5rem; }
  .imgportada {
    width: 21rem; }
  body {
    width: 100%; }
  .botonesInicio {
    width: 100%;
    font-style: oblique;
    background-color: #b9a668fd;
    list-style-type: none;
    color: #f5e5b1fd;
    text-align: center;
    border: none; }
  .botonesInicio li {
    position: relative;
    display: inline-block; }
  .botonesInicio li a {
    text-decoration: none;
    color: #f5e5b1fd;
    display: block;
    padding: 10px 10px; }
  .botonesInicio li a:hover {
    background-color: #ecd482fd;
    color: #b9a668fd; }
  .index {
    margin-right: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: 16rem 1fr 22rem;
    grid-template-areas: "infoOne" "infoTwo" "infoThree";
    justify-items: center; }
  .p {
    width: auto;
    height: auto;
    border: none;
    margin: auto; }
  .p2 {
    width: auto;
    height: auto;
    margin: auto; }
  .imfoTwo {
    width: 90%;
    margin: auto; }
  .image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img1 img2" "img3 img3"; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .promocionesDos {
    display: flex;
    flex-direction: column; }
  .promocionesTres {
    width: 26.5rem;
    height: 10rem;
    margin-right: 7.5rem; }
  .productos {
    width: 100%; }
  .figurexd {
    width: 100%;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: "produOne" "produTwo" "produThree"; }
  .prodOne {
    grid-area: produOne; }
  .prodTwo {
    grid-area: produOne; }
  .prouThree {
    grid-area: produOne; }
  footer {
    width: 100%;
    height: 4rem; }
  .imageFooter {
    margin-top: 0.9rem;
    margin-right: 1.8rem; }
  .footerLogo {
    width: 3rem; }
  .sociales {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-top: 0.5rem;
    margin-right: 95%; }
  .tarjeta {
    width: 15rem;
    margin-top: 0.9rem;
    margin-left: 20rem; } }

@media screen and (max-width: 376px) {
  .imglogo {
    width: 4.5rem; }
  .imgportada {
    width: 18rem; }
  .botonesInicio {
    width: 100%;
    font-style: oblique;
    background-color: #b9a668fd;
    list-style-type: none;
    color: #f5e5b1fd;
    text-align: center;
    border: none; }
  .botonesInicio li {
    position: relative;
    display: inline-block; }
  .botonesInicio li a {
    text-decoration: none;
    color: #f5e5b1fd;
    display: block;
    padding: 0.5rem; }
  .botonesInicio li a:hover {
    background-color: #ecd482fd;
    color: #b9a668fd; }
  footer {
    width: 100%;
    height: 4rem; }
  .imageFooter {
    margin-top: 0.9rem;
    margin-right: 1.8rem; }
  .footerLogo {
    width: 3rem; }
  .sociales {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-top: 0.5rem;
    margin-right: 95%; }
  .tarjeta {
    width: 10rem;
    margin-top: 0.9rem;
    margin-left: 20rem; } }

@media screen and (max-width: 321px) {
  .imglogo {
    width: 3.5rem; }
  .imgportada {
    width: 16rem; }
  .botonesInicio {
    width: 100%;
    font-style: oblique;
    background-color: #b9a668fd;
    list-style-type: none;
    color: #f5e5b1fd;
    text-align: center;
    border: none; }
  .botonesInicio li {
    position: relative;
    display: inline-block; }
  .botonesInicio li a {
    text-decoration: none;
    color: #f5e5b1fd;
    display: block;
    padding: 0.4rem; }
  .botonesInicio li a:hover {
    background-color: #ecd482fd;
    color: #b9a668fd; }
  .p {
    width: 300px;
    height: auto;
    border: none;
    margin: auto; }
  .p2 {
    width: 300px;
    height: auto;
    margin: auto; }
  .footerLogo {
    width: 3rem; }
  .tarjeta {
    margin-right: 4rem;
    width: 8rem; } }

@media screen and (min-width: 992px) {
  .botonesInicio ul li {
    margin-left: 10rem; }
  .dropdown-item {
    margin: 0; } }
