$colorone: #f5e5b1fd;
$colortwo: #b9a668fd;

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5rem;
    background-color: $colortwo;
    color: $colorone;
    text-align: left;
    margin-top: auto;
  .imageFooter {
    position: absolute;
  }
  .pruUno {
    margin-left: 80%;
    position: absolute;
  }
  .sociales {
    color: $colorone;
    text-decoration: none;
    text-align: left;
    position: absolute;
    width: 100%;
    margin-left: 2%;
  }
  .hola {
    color: $colorone;
    text-decoration: none;
    display: inline;
    margin-left: 1%;
  }
}