$colorone: #f5e5b1fd;
$colortwo: #b9a668fd;

header {
    position: sticky;
    top: 0;
    background-color: $colorone;
    z-index: 1;
  .logoportada {
    margin-left: 20px auto;
  }
  /* nav */
  .botonesInicio {
    width: 100%;
    font-style: oblique;
    background-color: $colortwo;
    list-style-type: none;
    color: $colorone;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
    position: relative;
    display: inline-block;
      a {
      text-decoration: none;
      color: $colorone;
      display: block;
      padding: 0.5rem 10rem;
      }
    }
  }
  .botonesInicio div ul li a:hover{
    transform: scale(1.3);
  }
}