$colorone: #f5e5b1fd;
$colortwo: #b9a668fd;

body {
  background-color: $colorone;
  color: #000000;
  font-style: italic;
    overflow-x: hidden;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  main {
    width: 100%;
    height: 100%;
    color: #000000;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 2.2%;
  }
  .index {
    width: 90%;
    height: auto;
    margin: 20px auto;
    z-index: -1;
  }
  .infoOne {
    grid-area: infoOne;
  }
  .infoTwo {
    grid-area: infoTwo;
  }
  .infoThree {
    grid-area: infoThree;
  }
  .promos{
    margin-top: 2rem;
  }
  .promo {
    color: #000000;
    text-align: center;
  }
  .productos {
    margin-bottom: 9.58rem;
  }
  .promociones {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 7.5rem;
    justify-content: center;
  }
  .promocionesDos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .promocionesTres {
    width: 30rem;
    height: 17rem;
    padding-top: 1%;
    padding-bottom: 17rem;
  }
  .promocionesTres:hover {
    background-color: #f1de9ffd;
  }
  .imagenes {
    width: 25rem;
    height: 15rem;
    border-radius: 3rem;
  }
  .p {
    color: #000000;
    text-align: center;
    font-size: 1.2rem;
    width: 20rem;
    height: auto;
    overflow: auto;
    border: 0.2rem $colortwo solid;
    border-radius: 1.2rem;
    margin: auto;
  }
  .p2 {
    color: #000000;
    text-align: center;
    width: 51rem;
    height: auto;
    overflow: auto;
    margin-top: 2%;
    font-size: 1.3rem;
  }
  .texImg{
    width: 54rem;
    border: 0.2rem $colortwo solid;
    border-radius: 1.2rem;
  }
  .iniImg{
    border-radius: 1.2rem;
  }
  .contenido {
    display: flex;
    width: 620px;
    height: auto;
    margin-left: 30%;
    justify-content: space-evenly;
  }
  .image {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
  }
  .image a {
    text-decoration: none;
  }
  .figurexd {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 70rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionxd {
    width: 20rem;
    height: 20rem;
    margin-top: 1%;
    padding-top: 1rem;
  }
  .sectionxd:hover {
    background-color: #f1de9ffd;
  }
  .formulario {
    margin: 20px auto;
    width: 25rem;
    padding: 0.6rem;
    border: 3px $colortwo solid;
    border-radius: 1.5rem;
  }
  .formulario label {
    font-size: 18px;
  }
  .maps {
    margin: 20px auto;
    width: rem;
    height: 20rem;
  }
  .text {
    resize: none;
    text-align: left;
  }
  .nosotros {
    width: 85%;
    height: auto;
    align-items: center;
    margin-left: 2.4%;
    border: 3px $colortwo solid;
    border-radius: 1.2rem;
    margin: 20px auto;
  }
  .nosotros h1 {
    font-size: 2.5rem;
    text-decoration: underline;
    color: #000000;
  }
  .nosotros h4 {
    font-size: 1.8rem;
    color: #000000;
  }
  .nosotros p{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #000000;
  }
  .nosotros video{
    width: 40rem;
    border: 0.2rem $colortwo solid;
    border-radius: 1.2rem;
  }
  .contacto{
    width: 85%;
    border: 3px $colortwo solid;
    border-radius: 1.2rem;
    margin: 20px auto;
    .container{
      width: 90%;
    }
  }
  .card {
    border-radius: 1.5rem;
    overflow: auto;
    background-color: $colortwo;
    padding-top: 0.7rem;
  }
  .productos .card:hover{
    transform: scale(1.1);
  }
  .productos h1{
    font-size: 2.5rem;
    margin: 20px auto;
    width: 90%;
    border-radius: 1.5rem;
    background-color: $colortwo;
    color: $colorone;
  }
  .card img {
    border-radius: 1.5rem;
  }
  .card-body {
    background-color: $colortwo;
  }
  .card-text {
    color: $colorone;
  }
  .btind {
    width: 100%;
  }